[project]
	description = A go lisp interpreter
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Palats (Palats)
[access "refs/for/refs/*"]
	read = group user/Palats (Palats)
	push = group user/Palats (Palats)
	label-Code-Review = -2..+2 group user/Palats (Palats)
	label-Verified = -1..+1 group user/Palats (Palats)
	rebase = group user/Palats (Palats)
	removeReviewer = group user/Palats (Palats)
	submit = group user/Palats (Palats)
[access "refs/heads/*"]
	read = group user/Palats (Palats)
	create = group user/Palats (Palats)
	push = +force group user/Palats (Palats)
	pushMerge = group user/Palats (Palats)
[access "refs/tags/*"]
	push = +force group user/Palats (Palats)
	pushTag = group user/Palats (Palats)
	pushSignedTag = group user/Palats (Palats)
